/* Padding */
.p-0 {
    padding: 0;
}
.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}

/* Margin */
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
/* Background */
.bg-eee {
    background-color: #eee;
}
.bg-white {
    background-color: #fff;
}
.bg-d {
    background-color: #d7d7d7;
}

.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* layout */
.w-full {
    width: 100%;
}

/* Text  */
.text-black {
    color: black;
}
.text-red {
    color: #c42121;
}
.text-center {
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .hide {
        display: none;
    }
}
